<div class="jumbotron">
    <h1 class="display-4">Typescript App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nisi fugit sed quibusdam provident expedita quam?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, quis.</p>
        <a href="#" class="btn btn-primary btn-lg">
            Task List
        </a>
</div>
